doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="style/style.scss")
        title Beauty Store UI
    body 
        header.header
            nav.header__nav
                ul
                    li.header__tab 
                        i(class="fa-solid fa-bars")
                    li.header__tab Best Sellers
                    li.header__tab Hand Sanitizer
                    li.header__tab Hand Cream
                    li.header__tab Refills
                    li.header__tab HAAN
                    li.header__tab Toothpaste
                    li.header__tab Hand Soap
                    li.header__tab Combos
                    li.header__tab 
                        i(class="fa-regular fa-user")
                    li.header__tab
                        i(class="fa-solid fa-bag-shopping")
            div.header__breadcrumbs
                span.header__crumb Home / 
                span.header__crumb Catalog / 
                span.header__crumb Hand Soap / 
                span.header__crumb Sunset Fleur 
        section.product
            .product__img
            .product__info
                .product__header
                    span.product__category hand soap
                    h1.product__title sunset fleur
                    .product__add-to-cart
                        .product__qty
                            span.product__minus -
                            span.product__total-qty 1
                            span.product__plus +
                        span.product__price 11,89$
            .product__description 
                p Feminine floral breeze.
                p <br/>
                p Get your hands perfectly clean without any sign of dryness with our Sunset Fleur Hand Soap. Agentl mix between a floral scent and a premium gel fomula using Coco Nucifera and Aloe Vera.
            .product__fap
                div.product__question How to use
                    span +
                div.product__question ingredients
                    span +
                div.product__question shipping & payment
                    span +

        script(src="https://kit.fontawesome.com/7489903411.js" crossorigin="anonymous")
