doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="style/style.scss")
        title Beauty Store UI
    body 
        header.header
            nav.header__nav
                ul
                    li.header__tab 
                        i(class="fa-solid fa-bars")
                    li.header__tab
                    li.header__tab
                    li.header__tab
                    li.header__tab
                    li.header__tab
                    li.header__tab
                    li.header__tab
                    li.header__tab
                    li.header__tab
                    li.header__tab

        script(src="https://kit.fontawesome.com/7489903411.js" crossorigin="anonymous")
